h1 {
  text-align: center;
  font-size: 4dvh;
  margin-top: 1VW;
}

h2 {
  color: var(--secondary-color);
}

body{
  color: var(--secondary-color);
}

.question {
  display: flex;
  justify-content: center;
  padding-top: 20%;
  height: 100vh;
}

.question-card {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  width: 30rem;
  border: solid 1px var(--secondary-color);
  border-radius: 25px;
}

.next-button {
  background-color: #08a623;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #45a049;
}
ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (max-width: 600px) {
  ul {
    flex-direction: column;
    margin-inline: 5%;
    padding: 1rem;
    gap: 1rem;
  }}

  .question-card{
    margin-inline: 5%;

  }