h1 {
  text-align: center;
  font-size: 4dvh;
}

h2 {
  color: var(--secondary-color);
}

body{
  color: var(--secondary-color);
  text-align: center;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 0.5rem;
  gap: 7rem;
}

.question-card {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  width: 40rem;
  border: solid 2px var(--secondary-color);
  border-radius: 25px;
}

a{
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 1.5rem;
  border: solid var(--primary-color) 1px;
  border-radius: 25px;

}

a:visited{
  color: inherit;
}



.next-button {
  background-color: #08a623;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #45a049;
}
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

ul li {
  padding-inline: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap : 1.5em;
}

@media (max-width: 600px) {
  ul {
    flex-direction: column;
    margin-inline: 5%;
    padding: 1rem;
    gap: 1rem;
  }}

  .question-card{
    margin-inline: 5%;

  }