@font-face {
  font-family: principal;
  src: url(./fonts/JetBrainsMono-Regular.ttf);
}
:root {
  --principal-color: #ffd60a;
  --secondary-color: #001d3d;
  --tertiary-color: #fdf8e1;
  font-family: principal;
}
