@font-face {
  font-family: principal;
  src: url(./fonts/JetBrainsMono-Regular.ttf);
}
:root {
  --principal-color: #ffc300;
  --secondary-color: #003566;
  --tertiary-color: #fdf8e1;
  font-family: principal;
  background-image: linear-gradient(
    to top,
    var(--principal-color) 70%,
    #f9f7f7 98%);
}
